<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rick and Morty Search</title>
  <%= stylesheet_link_tag 'index', media: 'all' %>
  <%= javascript_include_tag 'index' %>
</head>
<body>
  <h1>Rick and Morty</h1>

<div data-controller="episode">
  <form id="episode-form"  data-action="submit->episode#submit" data-episode-target="form">
    <input type="text" id="season-episode" placeholder="Enter Season and Episode (e.g., S01E01)">
    <button type="submit" class="search-button">Charaters in Episode</button>
  </form>

  <div id="character-bar"  data-episode-target="thumbCharacter"></div>
</div>

  <%# <form id="episode-form">
    <input id="season-episode" type="text" class="search-bar" placeholder="Episode code: e.g S03E07">
    <input type="submit" class="search-button" value="Characters in Episode">
  </form> %>
  <br>
  <div id="character-bar">
    <br>
  </div>
  <br>
  <div id="preview-container">
    <div id="character-preview"></div>
    <div id="episode-preview">
      <ul id="episode-list"></ul>
    </div>
    <div id="saved-episodes">
      <h2>Saved Adventures</h2>
      <ul class="saved-list"></ul>
    </div>
  </div>
</body>
</html>

